<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Weather App{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <nav> 
        <ul>
            <li><a href="{{url_for('index')}}">Home</a>
            <li><a href="{{url_for('alerts')}}">Alerts</a>
        </ul>
    </nav>
    {% block head %} {% endblock %}
</head>
<body>
    {% block body %} {% endblock %}
</body>
</html>