<!--      -->

{% extends 'base.html' %}

{% block head %} 
<div class="container">
<h2 class="mt-5">Forecast </h2>
</div>
{% endblock %}

{% block body %} 

{% if data.error %}
<p>Boom error</p>
{% else %}
<table class="table table-bordered">
<tr>
    <th>Period</th>
    <th>Temp</th>
    <th>Forecast</th>
</tr>
<!-- table data -->
{% for x in data['properties']['periods'] %}

<td>{{ x['name'] }}</td>
<td>{{ x['temperature'] }} {{ x['temperatureUnit'] }}</td>
<td>{{ x['shortForecast'] }}</td>
</tr>

    {% endfor %}

</table>
{% endif %}
{% endblock %}
