<!--      -->

{% extends 'base.html' %}

{% block head %} 
<h2> Weather Page - Forcast </h2>
{% endblock %}

{% block body %} 

{% if data.error %}
<p>Boom error</p>
{% else %}
<table>
<tr>
    <th>Period</th>
    <th>Temp</th>
    <th>Forecast</th>
</tr>
<!-- table data -->
    {% for x in data['properties']['periods'] %}
    <tr>
     <td>{{ x['name'] }}</td>
     <td>{{ x['temperature'] }} {{ x['temperatureUnit'] }}</td>
     <td>{{ x['shortForecast'] }}</td>
    </tr>

    {% endfor %}

</table>
{% endif %}
{% endblock %}
