<!--      -->

{% extends 'base.html' %}

{% block head %} 
<div class="container">
<h2 class="mt-5">Input location for weather</h2>
</div>
{% endblock %}

{% block body %} 

    <form action="{{ url_for('forecast')}}" method="POST">
        <div class="col-md-4">
            <label for="locinput" class="form-label">Location</label>
            <select id="locinput" class="form-select">
              <option selected>Choose...</option>
              <option>Kannapolis</option>
              <option>Concord</option>
              <option>Charlotte</option>
            </select>
          </div>
          <P>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Get weather</button>
          </div>
    </form>

{% endblock %}
